body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-container {
    flex:1 1 0%;
    display: flex;
}

.chat-window {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
}

.chat-side-bar {
    display: flex;
    flex-direction: column;
}

.chat-conversational-list {
    flex:1 1 0%;
}

.chat-search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0 0 71px;
    flex-direction: column;
}

.chat-search-container input {
flex:0 0 30px;
}

.chat-new-message-container{
    display: flex;
    flex:0 0 78px;
    align-items: center;
    
}

.chat-new-message-container a {
    flex:0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-message-list{
    flex:1 0 0%;
    display: flex;
    flex-flow: column-reverse nowrap;
}

.chat-title{
    display: flex;
    flex:0 0 71px;
    align-items: center;
    justify-content: space-between;
}

.chat-title > span {
    flex:1 0 0%;
}

.chat-form{
    display: flex;
    align-items: center;
    flex:0 0 78px;
    
}

.chat-form svg {
    flex:0 0 32px;
}

.chat-form input{
    flex:1 0 0%;
}

.chat-conversation{
    display: flex;
}
.chat-conversation-details{
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
}

.chat-conversation-title{
    display:flex;
    flex:1 0 0%;
}
.chat-title-text{
    flex:1 0 0%;
}

.chat-message-row{
    display: flex;
    flex:0 0 auto;
}

.chat-message-details{
    display: flex;
    flex-direction: column;
    flex:0 0 70%;
    align-items: flex-start;
}
.you-message .chat-message-text,.you-message .chat-message-date{
  align-self: flex-end;
}

.you-message{
    justify-content: flex-end;
}